body {
    background-color: white;
}
header {
    background-color: hsl(180, 100%, 50%);
    color: white;
    padding: 0.25em;
}
h2 {
    color: #09A7A1;
}
button {
    background-color: #FF790E;
}
footer {
    background-color: #09A7A1;
    color: white;
    padding: 0.5em;
}
nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    background-color: hsl(180, 80%, 25%)

}